<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <title>Top 1000 GitHub Repositories Ranked by Stars</title>
  <style type="text/css">
    body  {
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
      font-size: 14px;
    }
    .wrapper {
      margin: 20px;
    }
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      border-collapse: collapse;
    }
    table th, table td {
      padding: 4px 10px;
      border: 1px solid #ddd;
    }
  </style>
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>